* {
    box-sizing: border-box;
}
body {
   width: 100%;
   align-content: center;
   font-size: 100%;
   color: #ffffff;
   font-family: 'Verdana', sans-serif;
   text-align: center;
   background-color: #313131ff;
   margin: 0 !important;
   padding: 0 !important;
   height: 100vh;
   width: 100vw;
}

#MainDiv {
    height: 100vh;
    width: 100vw;
}
/*Landscape */
@media screen and (orientation:landscape) { 
    #MainDiv {
        display: grid;
        grid-template-columns: minmax(350px, 25%) auto;
        grid-template-rows: repeat(4, auto);
        grid-gap: 0px;
        grid-template-areas:
        "head head"
        "file file"
        "panl canv"
        "foot foot";
    }
    #ToolMenu {
        left: calc(350px + (100vw - 350px) / 2 - (392px / 2) );
    }
    footer {
        position: absolute;
    }
    #loader img{
        width:50%;
    }
}
@media screen and (orientation:portrait) { 
    #MainDiv {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(5, auto);
        grid-gap: 0px;
        grid-template-areas:
        "head"
        "file"
        "canv"
        "panl"
        "foot";
    }
    #ToolMenu {
        left: calc((100vw) / 2 - (392px / 2) );
    }
    footer {
        position: relative;
    }
    #loader img{
        width:75%;
    }
}

#Header {
    grid-area: head;
    text-align: left;
    background-color: #5c5c5cff;
    color: white;
    border: #9099A2;
    margin: 0%;
    padding: 5px;
}

#loader {
    height: 100%;
    width: 100%;
    background-color: #313131ff;
    margin-top: auto;
    display: relative;
    justify-content: center;
    align-items: center;
}

#loader img{
    margin: 0;
    position: absolute;
    background-color: #000000;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    animation-name: load-anime;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes load-anime {
    0% {box-shadow: 5px 5px 20px black}
    50% {box-shadow: 5px 5px 50px black}
    100% {box-shadow: 5px 5px 20px black}
  }


#CanvasDiv {
    background-color: #ddddddff;
    padding: 5px;
    grid-area: canv;
    position: relative;
    
    height: calc(100% - 29px);
    width: 100%;
    overflow-x: scroll;
    overflow-y: scroll;
}
#PanelArea{
    position: relative;
    grid-area: panl;
    padding: 5px;
    z-index: 10;
}

#Notes {
    resize: none;
    font-family: 'Verdana', sans-serif;
    font-size: 100%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 95%;
    height: 5em;
    max-width: 700px;
}
#FileMenu {
    position: relative;
    grid-area: file;
    background-color: #404040ff;
    display: flex;
    align-items: left;
}
#Canvases{
    position: relative;
    top: 10px;
    margin: auto;
    z-index:0;
}
#Template{
    box-shadow: 8px 8px 16px rgba(0,0,0,0.2);
    border: 1px solid #5c5c5cff;
}
#ToolMenu {
    position: fixed;
    background-color: #404040ff;
    top: 144px;
    border-radius: 3px;
    z-index: 1;
}
#Shortcuts {
    grid-area: short;
    display: none;
    visibility: hidden;
}
footer {
    grid-area: foot;
    width: 100%;
    height: auto;
    margin: auto;
    bottom: 0;
    background-color: #404040ff;
    z-index: 10;
}
footer p {
    margin-top: 5px;
    margin-bottom: 5px;
}
footer a {
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

button {
    background-color: #404040ff;
    border: 0px solid white;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    min-width: fit-content;
}
.dropdown {
    position: relative;
    display: block;
}
.dropdown-content {
    display: none;
    position: absolute;
    align-items: left;
    background-color: #404040ff;
    box-shadow: 0px 8px 16px rgba(58, 41, 41, 0.2);
    z-index: 1;
}
.dropdown-content a {
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #6283a2ff;}
.dropdown:hover .dropdown-content {display: block;}

button:hover {
    background-color: #6283a2ff;
}

.vl {
    border-left: 3px solid #222222ff;
    margin: 5px;
    margin-left: 2px;
    margin-right: 2px;
    height: 32px;
    float: left;
    position: relative;
}

.Panel {
    background-color: #404040ff;
    z-index: 10;
    padding: 0.3em;
}

.PanelTitle{
    background-color: #5c5c5cff;
    text-align: left;
    padding: 0.3em;

}

input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #9099A2;
    color: white;
    background-color: #404040;

    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

  label {
    text-align: left;
    margin-top: auto;
    display: inline-block;
  }

  /* Floating column for labels: 25% width */
.form-property {
    float: left;
    width: 40%;
    margin-top: 6px;
    display: flex;
    justify-content: left;
  }
  
  /* Floating column for inputs: 75% width */
.form-value {
    float: left;
    width: 60%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
 }