html *
{
   font-size: 100%;
   color: #000;
   font-family: 'Verdana', sans-serif;
   text-align: center;
   background-color: white;
}
#CanvasDiv {
    display: flex;
    align-content: center
}
#ToolDiv {
    display: flex;
    align-content: center
}
#Controls {
    display: absolute;
}
.SaveLoad {
}
h1 {
    color: grey;
    font-family: 'Verdana', sans-serif;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 3em;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 1%;
}
@media screen and (max-width: 800px){
    h1 {
        font-size: 6vw;
    }
  }
canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
button {
    background-color: #4CAF50;
    border: none;
    color: white;
    width: 30%;
    padding: 15px 32px;
    min-width: fit-content;
    display: inline-block;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}